<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Coinaly</title>
    <meta name="description" content="Powerful and easy to use trade interface for cryptocurrencies. Multiple exchanges supported, like Bittrex, Binance, GDAX and many more...">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/favicon-16x16.png">

    <!-- PWA Splash Screen Images -->
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/splashscreens/2048x2732.png" sizes="2048x2732" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/splashscreens/1668x2224.png" sizes="1668x2224" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/splashscreens/1536x2048.png" sizes="1536x2048" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/splashscreens/1125x2436.png" sizes="1125x2436" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/splashscreens/1242x2208.png" sizes="1242x2208" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/splashscreens/750x1334.png" sizes="750x1334" rel="apple-touch-startup-image" />
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/splashscreens/640x1136.png" sizes="640x1136" rel="apple-touch-startup-image" />

    <meta name="msapplication-TileColor" content="#2E63B1">
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#2E63B1">

    <!--[if IE]><link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/favicon.ico"><![endif]-->

    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Coinaly">
    <!-- <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/apple-touch-icon-152x152.png"> -->
    <!-- <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/safari-pinned-tab.svg" color="#4DBA87"> -->

    <!-- Add to home screen for Windows -->
    <!-- <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/icons/favicons/msapplication-icon-144x144.png"> -->
    <!-- <meta name="msapplication-TileColor" content="#000000"> -->
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <link rel="prefetch" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" />

    <style>
      body {
        background-color: #eeeff3;
      }
    </style>
  </head>
  <body>
    <noscript>
      To make full use of Coinaly you need JavaScript enabled. If you see this message, it means you don't have Javascript enabled. Please enable Javascript!
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
    <script async defer type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script async defer type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="1aa08a90-4721-45f6-809f-030eb4322337";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

  </body>
</html>
